body{
    background-image: url('../images/site/background-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Alata', sans-serif;
}
.container-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mensaje-bienvenida{
    width: 45%;
    margin: 30px 15px;
    background-color: rgb(118, 118, 118);
    box-sizing: border-box;
    padding: 10px 15px;
    color: white;
}
.mensaje-bienvenida h2{
    text-align: center;
}
.container-register{ 
 margin: 30px 15px;
 width: 30%;;
}
@media(min-width:1440px){
    .container-body{
        max-width: 1250px;
        margin:15px auto;
    }
    .mensaje-bienvenida{
        width: 30%;
    }
}
@media(max-width:768px){
    .mensaje-bienvenida{
        width: 60%;
    }
}
@media(max-width:426px){
    .mensaje-bienvenida{
        width: 100%;
    }
    .container-register{
        display: none;
    }
}


