.container-login-page{
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(118, 118, 118);
    background-color: rgb(118, 118, 118);
    padding: 20px 5px;
    border-radius: 8px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 300px;
    margin: 100px auto;
    margin-bottom: 150px;
}
.form-login-user{
    text-align: center;
}
.container-input{
    width: 100%;
    position: relative;
}
.container-input input{
    width: 80%;
    padding: 10px 5px;
    margin: 5px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}
.view-password{
    font-size: 7px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 2px;
    width: 15%;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 17px;
    font-weight: bolder;
}
.button-login{
    width: 82%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:black;
    color: white;
    outline: none;
}
.button-login:hover{
    background-color:rgb(32, 37, 33 );
}
.forget-password{
    font-size: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px;
    border-bottom: 1px solid white;
}
.forget-password a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.button-redirect-register{
    width: 82%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:rgb(4, 76, 5 );
    color: white;
    margin: 10px 0;
    outline: none;
}
.button-redirect-register:hover{
    background-color: rgb(25, 164, 27);;
}
.chekbox{
    flex-wrap: wrap;
    display: flex;
    width: 85%;
    margin: 10px auto;
}
.remember-input{
    margin: 0 10px;
}
.remember-label{
    margin: -1px 0px;
}
.errors-back{
    border: 2px solid rgb(155, 0, 0);
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px 15px;
    text-align: initial;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgb(155, 0, 0);;
}
.list-errors{
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.error-back{
    color: white;
    font-size: 13px;
    font-weight: bold;
}
@media(min-width:1440px){
    .container-login-page{
        margin: 150px auto;
        margin-bottom: 150px;
        padding: 40px 10px;
    }
    .container-input{
        margin: 12px auto;
    }
    .container-input input{
        padding: 17px 10px;
    }
    .view-password{
        top: 20px;
    }
}
