<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <title></title>
</head>

<div class="container-header">
    <div class="header-contact">
        <%if(!locals.logueado.validacion){  %> 
            <div class="icon-home"><a href="/"><i class="fas fa-home"></i></a></div>
        <% } %>
        <span class="header-contact-link"><a href="/contact/">My Contacts</a></span>
    </div>

    <div class="menu-header-user">
        <ul class="lista-user">
        <%if(locals.logueado.validacion){  %> 
            <li class="header-profile"> <a href="/account/profile "> <%= locals.logueado.nombre + " " +locals.logueado.apellido %> <i class="fas fa-user icono-log-head"></i> </a></li>
        <% } else {  %> 
            <li class="header-login"><a href="/account/login">Login</a> </li>
            <li class="header-register"> <a href="/account/register"> Register</a></li>
        <% } %>     
        </ul>
    </div>
</div>

</html>