<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home | contact</title>
</head>

<%- include("../partials/header") %>

<body>

<div class="container-body">

    <div class="mensaje-bienvenida">
        <h2>About Us</h2>
        <p class="texto-presentacion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore animi enim ipsam cumque vitae tempora maiores dolore recusandae. Consequuntur quaerat, debitis at delectus fugit, cum quis sed cupiditate minus, recusandae eveniet illo quae voluptate pariatur voluptas? At excepturi atque fuga eos alias ipsam vel commodi fugiat unde soluta exercitationem officia perferendis consectetur iusto tenetur, explicabo obcaecati mollitia repellat accusantium? Earum laborum dolores similique quam nostrum nam quia consectetur minima culpa animi cumque soluta reiciendis ab, iste mollitia perferendis tempora corrupti! Optio excepturi ea eaque quisquam molestias. Modi facere vero esse, beatae et, iusto provident ullam ad praesentium nesciunt quisquam delectus voluptate voluptatibus aliquam quas ducimus distinctio accusamus exercitationem. Officiis quaerat consequuntur vel fuga libero pariatur, laborum 
        </p>
    </div>

    <div class="container-register">

        <%- include("../users/login-home") %>

    </div>

</div>
   
</body>

<%- include("../partials/footer") %>

</html>